---
layout: default
title: Home
---
{% assign translation = site.data.i18n.t[site.active_lang] %}
<!-- Home Jumbotron
================================================== -->

{% if site.active_lang == "de" %}
<section class="intro full-width">
    <div class="wrapintro">
        <h1>Papi Berlin</h1>
        <p class="lead">Wir sind eine Community von aktiven Vätern* in Berlin. Hast du Lust, dich mit anderen
            Vätern*
            zu treffen oder auszutauschen? Oder hast du Fragen und benötigst Hilfe? Dann bist du genau richtig bei uns.</p>
        <a href="/about" class="btn">Mehr über uns...</a>
    </div>
</section>
{% else %}
<section class="intro full-width">
    <div class="wrapintro">
        <h1>Papi Berlin</h1>
        <p class="lead">
            We are a community of active fathers* in Berlin. Would you like to meet or exchange ideas with other fathers*? Or do you have questions and need help? Then you've come to the right place.
        </p> <a href="/about" class="btn">More about us...</a>
    </div>
</section>
{% endif %}


<!-- Featured
================================================== -->
<section class="featured-posts">

    <div class="row listfeaturedtag">

        {% for post in site.posts %}

        {% if post.featured == true %}

        {% include featuredbox.html %}

        {% endif %}

        {% endfor %}

    </div>

</section>

<!-- Posts Index
================================================== -->
{% if paginator.previous_page %}
{% if paginator.previous_page > 0 %}
<div id="jumptopageof"></div>
{% endif %}
{% endif %}

<section class="recent-posts row flex-row-reverse">

    <div class="col-sm-12">

        <div class="section-title">
            <h2><span>{{ translation.all_posts }}</span></h2>
        </div>

        <div class="masonrygrid row listrecent">

            {% for post in paginator.posts %}

            {% unless post.featured == true %}

            {% include postbox.html %}

            {% endunless %}

            {% endfor %}

        </div>

        <!-- Pagination -->
        <div class="bottompagination">

            <span class="navigation" role="navigation">

                {% include pagination.html %}

            </span>

        </div>

    </div>
</section>
