<!-- begin post -->
{% assign author = site.data.authors[post.author] %}
<div class="col-sm-6">
        <div class="row">
            <div class="col-md-12">
                <div class="card-block">
                    <div class="card-wrapper">
                    <h2 class="card-title">{{ post.short_title }}</h2>
                    <h4 class="card-text">{{ post.short_body | markdownify }}</h4>
                    </div>
                </div>
            </div>
        </div>
</div>
<!-- end post -->