<div class="sidebar">
    <div class="sidebar-section">
        <h5><span>Nützliche Links</span></h5>
        <ul style="list-none;">
            <li><a target="_blank" href="https://berlin-playgrounds.de/">Playground Guide: Berlin</a></li>
            <li><a target="_blank" href="https://wishlephant.com/">Wishlephant - die unabhängige Wunschliste</a></li>
            <li><a target="_blank" href="https://www.kobra-berlin.de/#container_elternzeit-und-pflegezeit">KOBRA -
                    Elternberatung</a></li>
            <li><a target="_blank" href="https://kita-navigator.berlin.de/">Kita-Navigator</a></li>
            <li><a target="_blank" href="https://www.kindaling.de/">Kindaling</a></li>
            <li><a target="_blank" href="https://www.frieda-frauenzentrum.de/gruppen/feministische-muettergruppe/">Feministische Mütter*gruppe Berlin</a></li>
        </ul>
    </div>

</div>
