---
# Lets add a comment to make this file sass-y.
# Change this file for any custom CSS.
---

// Import partials from `sass_dir` (defaults to `_sass`)

@use "syntax";

.nav-lang-active {
  cursor: default;
}

.nav-lang-switch .nav-link,
.nav-lang-active {
  text-transform: none;
  letter-spacing: 0;
}

.nav-lang-switch .nav-link {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.slack-cta {
  background: #fff100;
  padding: 1.5rem 2rem;
  margin-top: 2rem;
  border-radius: 4px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);

  p {
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 500;
    color: #111;
  }
}
