---
layout: default
---

<div class="back-link">
  <a href="/resourcen">&laquo; Zurück</a>
</div>

<div class="article-post">
  <div class="mainheading" >
    <h1 class="posttitle">{{ page.title }}</h1>
    <p class="lead">
      {{page.description }}
    </p>
  </div>

  <ul>
{% assign sortedItems = site.data.resources | where: 'category', page.id | sort: "title" %}
{% for resource in sortedItems %}
  <li>
    <a href="{{ resource.url }}">
      {{ resource.title }}
    </a>
    {% assign cleaned_age = resource.age | strip_newlines %}
    {% if cleaned_age != "" %}
      <div class="age-group">Alter: {{ cleaned_age }}</div>
    {% endif %}
    <p>
    {{ resource.description | markdownify}}
    </p>
  </li>
{% endfor %}
  </ul>

  <p>
    Wenn du eine Webseite kennst, die hier fehlt, dann schreib uns doch <a href="/contact">über unser Kontaktformular</a>.
  </p>
</div>


